<h1 class='brand-name'>Eat Da Burger!</h1>

<img alt='burger dancing' src='https://i.giphy.com/media/3oEdv5S8Th6b9gsNqM/giphy.gif?cid=ecf05e47gghn80ul4sekajda7ab51j08q28g4ptxrgpvp07l&rid=giphy.gif'/>

<form autocomplete='off'>
    <input class='burger-input' type="text" name="burger" placeholder="New Burger Goes Here!"/>
    <input class='burger-submit' type='submit' value='Submit Ya Burger!'/>
</form>

<div class="container">
    <ul class="notdevoured-container">
        {{#each data}}
            {{#unless devoured}}
                <li class="not-devoured">
                    <h1>{{burger_name}}</h1>
                    <button data-id={{id}}>DEVOUR</button>
                </li>
            {{/unless}}
        {{/each}}
    </ul>
    <ul class="devoured-container">
        {{#each data}}
            {{#if devoured}}
                <li class="devoured">
                    <h1><del>{{burger_name}}</del></h1>
                </li>
            {{/if}}
        {{/each}}
    </ul>
</div>

<footer><p>&copy; <a href='github.com/carlschr'>Christopher Carlson</a></p></footer>