:root {
    box-sizing: border-box;
    font-family: 'Mukta', sans-serif;
    background: #ffde00;
    padding-bottom: 0;
}

.brand-name {
    font-size: 5rem;
    text-align: center;
    background: white;
    border: 1px white solid;
    box-shadow: 2px 2px 5px 5px;
    width: 40%;
    margin: 2rem auto;
    padding: 2rem;
}

img {
    width: 20rem;
    height: 20rem;
    margin-left: calc(50% - 10rem);
    margin-bottom: 2rem;
}

form {
    display: flex;
    justify-content: center;
    margin: 2rem;
}

.burger-input {
    flex: 1;
    max-width: 40%;
    text-align: center;
    font-size: 1.5rem;
    padding: .5rem;
    box-shadow: 1px 1px 5px grey;
    border: black 1.5px solid;
    transition: box-shadow .5s;
}

.burger-submit {
    font-size: 1.2rem;
    font-family: 'Mukta', sans-serif;
    font-weight: 200;
    background: whitesmoke;
    color: black;
    border: black 1.5px solid;
    margin-left: .5rem;
    box-shadow: 1px 1px 5px grey;
    transition: box-shadow .5s;
    letter-spacing: 0;
}

.container {
    display: flex;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.container>* {
    flex-grow: 1;
    max-width: 50%;
    padding: 3rem 0;
}

.notdevoured-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(131, 238, 167, 0.959);
    border-right: 1px solid black;
}

.devoured-container {
    background: rgb(190, 96, 96);
    border-left: 1px solid black;
}

.devoured, .not-devoured {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    font-size: 2rem;
}

/*Some hacks to insert a good-looking strikethrough*/
del {
    position: relative;
    display: inline-block;
    text-decoration: none;
}

del::before {
    content: '';
    border-bottom: 2px solid navy;
    width: 100%;
    position: absolute;
    right: 0;
    top: 50%;
}
/*^^^Some hacks to insert a good-looking strikethrough*/


button {
    margin-left: 1rem;
    border: black 1.5px solid;
    border-radius: none;
    box-shadow: 1px 1px 5px grey;
    background:white;
    font-size: 1rem;
    padding: .5rem .75rem;
    font-family: 'Mukta', sans-serif;
    transition: box-shadow .5s;
}

button:hover, button:focus, .burger-input:focus, .burger-submit:hover {
    outline: none;
    box-shadow: 1px 1px 5px black;
}

.burger-submit:focus {
    outline: none;
    box-shadow: none;
}

footer {
    background: white;
    padding: 3rem;
    font-size: 1.2rem;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}